{% include "header.html" %}
<main class="playlist-container">
    <div id="loading-screen"></div>
    <p id="loading-text">loading</p>

    <div id="video-container">
        <video id="video-player" controls autoplay muted>
            <source id="video-source" type="video/mp4">
        </video>
        <button id="player-btn-prev" class="player-button">previous</button>
        <button id="player-btn-next" class="player-button">next</button>
        <h1>{{ data.title }}</h1>
        <p id="song-title"></p>
    </div>

    <ul id="playlist-videos">
        {% for video in data.videos %}
        <li id="{{ video.id }}" key="{{ loop.index }}" value="{{ video.id }}" class="playlist-video">
            <img key="{{ loop.index }}" src="{{ video.thumbnail }}">
            <span key="{{ loop.index }}">{{ video.title }}</span>
        </li>
        {% endfor %}
    </ul>
</main>
<script src="/static/player.js"></script>
</body>

</html>